@keyframes fadeIn {
    0% { opacity: 0; }
    100% {  }
  }

canvas{
    width: 512px;
    height: 512px;
    border: 1px solid green;
    image-rendering: pixelated ;
}

body{
    background-color: rgb(24, 24, 24);
    
    color: rgb(203, 203, 203);
    font-family: "Operator mono"
}

svg{
    /* background-color: #59D5E0; */
    /* position: fixed;
    left: 10vw;
    top:10vh;
    width: 80vw;
    height: 80vh;
    z-index: -1; */
}

svg *{
    /* animation: fadeIn 0.3s ease-in-out; */
}



/* LAYOUT PANES */
.panel{
    color: white;
    background-color: hsla(0, 0%, 8%, 0.9);
    padding: 1rem;
    /* border: 1px solid white; */
    backdrop-filter: blur(4px)
}

#sceneInfo{
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
}

#sceneInfo input,
#sceneInfo button{
    pointer-events: auto;
}

#settings{
    position: fixed;
    right: 0;
    top: 0;
    top: 0;

    /* centering
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* SVGViewport */
svg .lightray{
    stroke: yellow;
    stroke-width: 1;
    opacity: 1.0;
    stroke-dasharray: 10 10;
}

svg .hitPoint{
    stroke: rgb(170, 255, 0);
    fill: rgb(0, 255, 170);
    opacity: 1.0;
    stroke-width: 3;
}

svg .lightpath{
    stroke: hsla(39, 100%, 50%, 0.5);
    opacity: 1.0;
}

svg .light .shape{
    stroke: #FAA300;
    fill: hsl(52, 100%, 50%);
    stroke-width: 2px;
}

svg .shape{
    fill: transparent;
    stroke: hsl(0, 0%, 38%);
    stroke-width: 1;
    /* stroke-dasharray: 8 8; */
    /* stroke: black; */
}

/* MANIPULATORS */
.sceneItem:not(:hover) .manip .handle{
    opacity: 0.0;
    transition: opacity 1.3s ease-in;
}

.manip .handle{
    fill: hsla(60, 100%, 50%, 0.1);
}
.manip .handle:hover{
    fill: hsla(60, 100%, 50%, 0.3);
}

.guide{
    fill: hsla(0, 0%, 50%, 0.03);
    stroke: white;
    stroke-width: 1;
    stroke-dasharray: 1 8;
    pointer-events: none;
}
line.guide{
    stroke: white;
    stroke-width: 1;
    stroke-dasharray: 1 8;
    
}

.manip .shape.handle{
    fill:transparent
}
.manip .shape.handle:hover{
    stroke: white;
}
text.shape{
    stroke: none;
    fill:white;
    font-size: 6px;
}

.selected .shape{
    fill: hsla(0, 0%, 89%)  !important;
}


/**/


#inspector
{
    position: fixed;
    left: 1rem;
    top: 100px;
    user-select: none;
    /* pointer-events: none; */
}
#inspector *{
    animation: fadeIn 1s;
}

#inspector input
{
    pointer-events: auto;
}
/* #inspector table{
    pointer-events: auto;
} */


canvas.viewport, svg.viewport{
    position: fixed;
    left: 0;
    top: 0;
    background-color: hsl(221.54deg 3.11% 17.71%);
    background-color: transparent;
    width: 100vw;
    height: 100vh;

    /* width: 45vw;
    height: 512px; */
}