@keyframes fadeIn {
    0% { opacity: 0; }
    100% {  }
  }

a{
    text-decoration: none;
    color: inherit
}   
a:hover{
text-decoration: underline;
}

canvas{
    width: 512px;
    height: 512px;
    border: 1px solid green;
    image-rendering: pixelated ;
}

.fadeIn{
    animation: fadeIn 3s;
}

body{
    background-color: rgb(24, 24, 24);
    
    color: rgb(203, 203, 203);
    /* font-family: "Operator Mono"; */
    /* font-family: "CMU Bright"; */
    font-family: "IBM Plex Mono", monospace;
    /* font-family: "Fira Code"; */
    font-size: 10px;
}

h2{
    font-style: italic;
}
svg{
    /* background-color: #59D5E0; */
    /* position: fixed;
    left: 10vw;
    top:10vh;
    width: 80vw;
    height: 80vh;
    z-index: -1; */
}

svg *{
    /* animation: fadeIn 0.3s ease-in-out; */
}



/* LAYOUT PANES */
.panel{
    color: white;
    background-color: hsla(0, 0%, 8%, 0.9);
    margin: 1rem;
    /* border: 1px solid white; */
    backdrop-filter: blur(4px)
}

.panel .collapsable>header{
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    background-color: hsl(208deg 100% 97.06% / 2%)
}

#sceneInfo{
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

#settings{
    position: fixed;
    right: 0;
    top: 0;
    top: 0;

    /* centering
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* SVGViewport */
svg .lightray{
    stroke: yellow;
    stroke-width: 1;
    opacity: 1.0;
    stroke-dasharray: 10 10;
}

svg .hitPoint{
    stroke: rgb(170 255 0 / 33%);
    fill: rgb(0, 255, 170);
    opacity: 1.0;
    stroke-width: 1;
}

svg .lightpath{
    opacity: 1.0;
}

svg .light .shape{
    stroke: #FAA300;
    fill: hsl(52, 100%, 50%);
    stroke-width: 2px;
}

svg .shape{
    fill: transparent;
    stroke: hsl(0, 0%, 38%);
    stroke-width: 1;
    /* stroke-dasharray: 8 8; */
    /* stroke: black; */
}

/* MANIPULATORS */
.sceneItem:not(:hover) .autohide{
    opacity: 0.0;
    transition: opacity 1.3s ease-in;
}

.sceneItem.TransparentMaterial>.shape{
    stroke: hsla(180, 100%, 50%, 0.37);
}
.sceneItem.DiffuseMaterial>.shape{
    stroke: darkgray;
    /* stroke: none; */
}
.sceneItem.MirrorMaterial>.shape{
    stroke: white
    /* stroke: white; */
}

.manip .handle{
    fill: hsla(60, 100%, 50%, 0.1);
}
.manip .handle:hover{
    fill: hsla(60, 0%, 50%, 0.3);
}

.guide{
    fill: hsla(0, 0%, 50%, 0.001);
    stroke: hsla(0, 0%, 50%, 0.5);
    stroke-width: 1;
    stroke-dasharray: 8 8;
    pointer-events: none;
}

line.guide{
    stroke-width: 1;
    stroke-dasharray: 1 8;
}
text.guide{
    stroke: none;
    fill: hsla(0, 0%, 50%, 0.5);
    font-size: 8px;
}

.manip .shape.handle{
    fill:transparent
}
.manip .shape.handle:hover{
    stroke: white;
}

text.shape{
    stroke: none;
    fill:white;
    font-size: 6px;
}

.sceneItem.selected .shape{
    stroke-width: 3;
}


/**/

#toolbar{
    display: flex;
    flex-direction: row;
    width: 10rem;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    justify-content: center;
    background-color: transparent;
    pointer-events: none;
}

#toolbar>*{
    pointer-events: auto;
}

#toolbar>*{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 0;
}


#toolbar button{
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;

}

#toolbar button{
    color: grey;
    cursor: pointer;
}
#toolbar button.danger{
    color: red;
}
#toolbar button:hover{
    color: white;
}
#toolbar button.active{
    color: white;
}

#inspector
{
    position: fixed;
    left: 1rem;
    top: 100px;
    user-select: none;
    /* pointer-events: none; */
}
#inspector *{
    animation: fadeIn 1s;
}

#inspector input
{
    pointer-events: auto;
}
/* #inspector table{
    pointer-events: auto;
} */


canvas.viewport, svg.viewport{
    position: fixed;
    left: 0;
    top: 0;
    background-color: hsl(221.54deg 3.11% 17.71%);
    background-color: transparent;
    width: 100vw;
    height: 100vh;

    /* width: 45vw;
    height: 512px; */
}